<!DOCTYPE html>
<html xmln:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Starting Page</title>

	<link rel="stylesheet" type="text/css" media="all"
		href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />

</head>
<body class="center">
	<header th:insert="~{fragments/header.html :: header}"></header>

	<h1>Welcome to bootleg steam!</h1>
	<h2>Browse Games</h2>
	<a th:href = "@{/browseGames}"> <button class="bigButton">Game Page!</button> </a>
	<br><br>
	
	<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>