<!DOCTYPE html>
<html xmln:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register!</title>

	<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	
	<link rel="stylesheet" type="text/css" media="all"
		href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />

</head>
<body class="center">
	<h1>Register Here!</h1>
	<div id="error" class="error"></div>
	<form name="form" action="#" th:action="@{/register}" method="post" onsubmit="return verify()">
	User name:			<Input type="text"		name="username" />			<br>
	Email: 				<input type="email" 	name="email" />				<br>
	Password: 			<input type="password" 	name="password" />		<br>
	Verify Password: 	<input type="password" 	name="verifyPassword" />	<br>
																		<br>
						<input class="bigButton" type="submit" value="Register">
	</form>

	<br><hr><br>
	
	<a th:href = "@{/}"> <button class="bigButton">Back to Home</button> </a>
	
</body>
</html>