<!DOCTYPE html>
<html xmln:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nuh uh</title>

	<link rel="stylesheet" type="text/css" media="all"
			href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />

</head>
<body class="center">
	<h1>Permission Denied</h1>
	
	<p><a th:href = "@{/}"><button class="bigButton">Back to Landing Site</button></a></p>
	
	<form method="post" th:action="@{/logout}">
		<input class="bigButton" type="submit" value="Logout"/>
	</form>
	
</body>
</html>