<!DOCTYPE html>
<html xmln:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HEADER</title>
</head>
<body>
	<div th:fragment="header">
	<!-- 
			<img 	id="system-logo"
				height="100px"
				src="../../static/images/sample.png"
				th:src="@{/images/sample.png}" />
	-->
	 
		<h1>Current User: <h1 th:text = "${username}">Current User</h1></h1>
	
		<div th:replace="${logStatus} ? ~{fragments/menu.html :: div.logged-in} : ~{fragments/menu.html :: div.logged-out}"></div>
		
		<br>
	
	</div>
</body>
</html>