<!DOCTYPE html>
<html xmln:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Owned Games</title>

	<link rel="stylesheet" type="text/css" media="all"
			href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
	
</head>
<body class="center">
	<header th:insert="fragments/header.html :: header"></header>

	<h1>Owned Games</h1>
	
	<table th:if="${ownedGamesList != null AND ownedGamesList != ''}">
		<tr class="heading">
			<td>Title</td>
			<td>Game Details</td>
		</tr>
		
		<tr th:each = "og : ${ownedGamesList}">
			<td th:text = "${og.title}"	></td>
			<td><a th:href = "@{/viewDetails/}+${og.videoGameId}"><button class="bigTableButton">View Details</button></a></td>
		</tr>
	</table>
	
	<br><hr><br>
	
	<a th:href = "@{/browseGames}"> <button class="bigButton">View Games</button> </a>
	
	<footer th:replace="~{fragments/footer.html :: footer}"></footer>
</body>
</html>